.main .galeria {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .foto {
        width: 25%;
        img {
            width: 100%;
            vertical-align: top;
            opacity: .7;
            &:hover {
                opacity: 1;
                transition: all .3s ease;
            }
        }
    }
}