.main .ubicacion .contenedor {
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .titulo {
        font-size: 2.5em;
        font-weight: 300;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }
    .direccion {
        font-size: 1em;
        width: 50%;
        .calle {
            margin-bottom: 15px;
        }
    }
    .horarios {
        font-size: 1em;
        width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        h4 {
            width: 100%;
            margin-bottom: 20px;
        }
        .entre-semana, .fin-semana {
            width: 50%;
        }
    }
}